/* Contact Css */

.contact-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--skin-color);
}

.contact-sub-title{
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
    color: var(--text-black-900);
}

.contact .contact-info-item{
    flex:  0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 5px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.contact .contact-info-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: var(--text-black-700);
}

.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;   
}

.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12{
    flex:  0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item{
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control{
   width: 100%;
   height: 50px;
   font-size: 16px;
   padding: 10px 25px;
   border-radius: 25px; 
   transition: all 0.3s ease;
   color: var(--text-black-700);
   background: var(--bg-black-100);
   border: 1px solid var(--bg-black-50);
}

.contact .contact-form .form-item textarea.form-control{
    height: 140px;
}

.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}






/* Animation Contact */

.contact .contact-title.animation-Dp-Contact.Downup{
    animation-name: Downup;
    animation-timing-function: ease;
}

.contact .contact-sub-title.animation-Dp-Contact.Downup{
    animation-name: Downup;
    animation-timing-function: ease;
}

.contact .contact-info-item.animation-Op-Contact.Opacity{
    animation-name: opacity;
    animation-timing-function: ease;
}

.contact .contact-form .form-item.animation-Dp-Contact.Downup{
    animation-name: Downup;
    animation-timing-function: ease;
}

/* Animation Contact */